/* CSS declarations go here */
body {
  margin: 0 auto;
  padding-top: 30px;
  width: 800px;
}

.profile-picture {
  border-radius: 10px;
  width: 90px;
}

.chart rect {
  fill: steelblue;
  stroke: white;
}

.chart text {
  fill: white;
}
